::selection{
    color:goldenrod;
    background-color: black;
}
body {
    background-color: black;
    color:red;
    width: 99%;
    opacity:0.9;
    height: 100%;
}
main {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
footer {
    margin-top: 5%;
    text-align: center;
    padding: 1%;
    border: solid 2px red;
    border-radius: 20px;
}
header {
    font-size: 60px;
    text-align: center;
    padding:2px;
}
hr {
    border:  2px dashed red;
}
nav {
    text-align: center;
}
    a { color: goldenrod; font-size:25px; padding:1px; margin: 0.5%;}
    a:link {text-decoration: none}
    a:visited {text-decoration: none}
    a:active {text-decoration: none; cursor: pointer;}
    a:hover {text-decoration: underline; color:rgb(250, 227, 96)}
fieldset {
    border: 2px dashed goldenrod;
}
legend {
    font-size: 20px;
    color:darkcyan;
    text-decoration:underline;
    cursor:not-allowed;
}
legend::selection {
    color:darkcyan;
}
@media(max-width: 1650px){
    header{
        font-size: 50px;
    }
    a {
        font-size: 20px;
        margin:0.3%;
    }

}
@media(max-width:700px){
    header {
        font-size: 30px;
    }
    a{
        font-size: 12px;
    }
}